@model IEnumerable<Odontograma.Models.Odo.ConfirmadasViewModel>
@{
    ViewBag.Title = "Confirmadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="p-3">Mis citas confirmadas</h2>
    <div class="mb-2 text-right">

        @Html.ActionLink("Catalogo", "Index", "Estudiante", null, new { @class = "p-2 btn btn-outline-dark" })
        @Html.ActionLink("Atendidas", "Atendidas", "Estudiante", null, new { @class = "p-2 btn btn-outline-dark" })
    </div>


    <div class="table-responsive">
        <table class="table" id="miTabla">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(m => m.cita.Hora)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.cita.Fecha)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.cita.Clinica)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cita.Fecha)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.cita.Hora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cita.Clinica.Nombre)
                        </td>
                        <td>
                            <div class="btn btn-link">
                                @Html.ActionLink("Diagnosticar", "Diagnostico", new { id = item.cita.CitaId })
                            </div>

                        </td>

                    </tr>

                }

            </tbody>

        </table>
    </div>


</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable({
                //"paging": false,
                "ordering": false,
                "info": false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": " Primero ",
                        "sLast": " Último ",
                        "sNext": " Siguiente &raquo;",
                        "sPrevious": " &laquo; Anterior "
                    },
                    "sProcessing": "Procesando...",
                }
            });
        });
    </script>
}


