@model Odontograma.Models.Odo.ObsDesViewModel
@{
    ViewBag.Title = "DetalleCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2 class="mt-4 text-center">Termina tu cita</h2>

    <div class="p-3 alert-success">
        Déjale algunas observaciones a tu paciente antes de terminar
    </div>

    <div class="row">
        <div class="col">
            @using (Html.BeginForm("DetalleCita", "Estudiante", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <h4 class="mt-5">¿Qué le quieres decir a tu paciente?</h4>

                @Html.HiddenFor(m => m.DetalleCitaId)
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="input-group input-group-sm mb-3">
                    @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @type = "text-area" })
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    @Html.LabelFor(m => m.Observacion, new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Observacion, new { @class = "form-control", @type = "text-area" })
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="col-md-7">
                        <div class="text-right">
                            <input type="submit" class="btn btn-lg btn-dark" value="Terminar" />
                        </div>

                    </div>
                </div>
            }
        </div>
        
    </div>
</div>